<?xml version='1.0' encoding='utf-8'?>
<widget id="the.marvellous.island" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TheMarvellousIsland</name>
    <description>
        Alpha controller for The Marvellous Island
    </description>
    <author email="biasutto.t@gmail.com" href="http://the.marvellous.website">
        The Marvellous Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
