body {
    background-color: #000000;
}

#nameField {
    position: absolute;
    left: 33%;
    top: 46%;
    width: 34%;
    z-index: 1 ;
    background: transparent;
    text-align: center;
    border-radius: 5px; 
}